name: Docker Image CI

on:
  push:
    branches:
    - never_use

jobs:

  build:
 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Docker Login
      run: echo ${GITHUB_TOKEN} | docker login docker.pkg.github.com -u aperture-sh --password-stdin
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_ACTOR: $GITHUB_ACTOR
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag docker.pkg.github.com/aperture-sh/tank/tank:latest
    
    - name: Push to Github
      run: docker push docker.pkg.github.com/aperture-sh/tank/tank:latest
